@model OnePiece.Models.Fruit
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Details"];
}

<h2>@ViewData["Title"]</h2>
<h4>@Localizer["Fruit"]</h4>
<hr />

<div class="row">
    <div class="col-xs-6 col-md-4">
        <table class="table">
            <tr>
                <td class="title">@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td class="title">@Html.DisplayNameFor(model => model.Type)</td>
                <td>@Html.DisplayFor(model => model.Type)</td>
            </tr>
            <tr>
                <td class="title">@Html.DisplayNameFor(model => model.Ability)</td>
                <td>@Html.DisplayFor(model => model.Ability)</td>
            </tr>
            <tr>
                <td class="title">@Html.DisplayNameFor(model => model.Description)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-md-8">
        <div style="text-align:center">
            @*直接获取Model的成员,需要使用大写的Model*@
            <img id="img" src="~/@Model.ImagePath" alt="" style="max-width:800px">
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> @Localizer["Edit"]</a>
    <a asp-action="Index" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> @Localizer["Back to List"]</a>
</div>