@model OnePiece.Models.Fruit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fruit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>*@
    @*用from+button来代替a，如果要传递参数，例如id，一定要制定form的method，否则不会调用Controller里的Edit方法*@
    <form asp-action="Edit" method="get" asp-route-id="@Model.Id">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button>
    </form>
    <br/>
    <form asp-action="Index">
        <button class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</button>
    </form>
</div>