@model OnePiece.Models.Person
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Details"];
}

<h2>@ViewData["Title"]</h2>
<h4>@Localizer["Person"]</h4>
<hr />

<div class="row">
    <div class="col-xs-6 col-md-4">
        <table class="table">
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Nickname)</td>
                <td>@Html.DisplayFor(model => model.Nickname)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Description)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.RewardMoney)</td>
                <td>@Html.DisplayFor(model => model.RewardMoney)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Birthday)</td>
                <td>@Html.DisplayFor(model => model.Birthday)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Race)</td>
                <td>@Html.DisplayFor(model => model.Race)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Sex)</td>
                <td>@Html.DisplayFor(model => model.Sex)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.FeatureType)</td>
                <td>@Html.DisplayFor(model => model.FeatureType)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Title)</td>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.PirateGroup)</td>
                @{
                    var pirateGroup = Model.PirateGroup;
                    @:<td>
                        if (pirateGroup != null)
                        {
                            <a asp-controller="PirateGroups" asp-action="Details" asp-route-id="@pirateGroup.Id"> @pirateGroup.Name</a>
                        }
                    @:</td>
                }
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.FruitPossessions)</td>
                <td>
                    <ul>
                        @{
                            var fruits = Model.FruitPossessions.Select(s => s.Fruit);
                            foreach (var fruit in fruits)
                            {
                                @:<li>
                                    <a asp-controller="Fruits" asp-action="Details" asp-route-id="@fruit.Id"> @fruit.Name</a>
                                @:</li>
                            }
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.WeaponPossessions)</td>
                <td>
                    <ul>
                        @{
                            var weapons = Model.WeaponPossessions.Select(s => s.Weapon);
                            foreach (var weapon in weapons)
                            {
                                @:<li>
                                    <a asp-controller="Weapons" asp-action="Details" asp-route-id="@weapon.Id"> @weapon.Name</a>
                                @:</li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-md-8">
        <div style="text-align:center">
            @*直接获取Model的成员,需要使用大写的Model*@
            <img id="img" src="~/@Model.ImagePath" alt="" style="max-width:800px">
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> @Localizer["Edit"]</a>
    <a asp-action="Index" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> @Localizer["Back to List"]</a>
</div>