@model PaginatedList<OnePiece.Models.Person>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Persons"];
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> @Localizer["Create New"]</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Localizer["Name"]</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RaceSortParm"]">@Localizer["Race"]</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SexSortParm"]">@Localizer["Sex"]</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BirthdaySortParm"]">@Localizer["Birthday"]</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RewardMoneySortParm"]">@Localizer["Reward Money"]</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Race)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RewardMoney)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span> @Localizer["Edit"]</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-info-sign"></span> @Localizer["Details"]</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> @Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
    <span class="glyphicon glyphicon-chevron-left"></span>@Localizer["Previous"]
</a>
<a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">
    @Localizer["Next"]<span class="glyphicon glyphicon-chevron-right"></span>
</a>