@model OnePiece.Models.Setting

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FruitCountPerPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FruitCountPerPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeaponCountPerPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeaponCountPerPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PirateGroupCountPerPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PirateGroupCountPerPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonCountPerPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonCountPerPage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
