@model OnePiece.Models.Setting

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FruitCountPerPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FruitCountPerPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeaponCountPerPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeaponCountPerPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PirateGroupCountPerPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PirateGroupCountPerPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonCountPerPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonCountPerPage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
