@model OnePiece.Models.Setting
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit"];
}

<h2>@ViewData["Title"]</h2>
<h4>@Localizer["Setting"]</h4>
<hr />
<div class="row">
    <div class="col-xs-6 col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FruitCountPerPage" class="control-label"></label>
                <input asp-for="FruitCountPerPage" class="form-control" />
                <span asp-validation-for="FruitCountPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeaponCountPerPage" class="control-label"></label>
                <input asp-for="WeaponCountPerPage" class="form-control" />
                <span asp-validation-for="WeaponCountPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PirateGroupCountPerPage" class="control-label"></label>
                <input asp-for="PirateGroupCountPerPage" class="form-control" />
                <span asp-validation-for="PirateGroupCountPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonCountPerPage" class="control-label"></label>
                <input asp-for="PersonCountPerPage" class="form-control" />
                <span asp-validation-for="PersonCountPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> @Localizer["Save"]</button>
                <a asp-action="Index" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span> @Localizer["Return"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
