@model OnePiece.Models.Setting
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Setting"];
}

<h2>@ViewData["Title"]</h2>
<hr/>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <table class="table">
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.FruitCountPerPage)</td>
                <td>@Html.DisplayFor(model => model.FruitCountPerPage)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.WeaponCountPerPage)</td>
                <td>@Html.DisplayFor(model => model.WeaponCountPerPage)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.PirateGroupCountPerPage)</td>
                <td>@Html.DisplayFor(model => model.PirateGroupCountPerPage)</td>
            </tr>
            <tr>
                <td style="font-weight:bold">@Html.DisplayNameFor(model => model.PersonCountPerPage)</td>
                <td>@Html.DisplayFor(model => model.PersonCountPerPage)</td>
            </tr>
        </table>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> @Localizer["Edit"]</a>
</div>